In [2]:
%pip install ghostscript

Requirement already satisfied: ghostscript in c:\python312\lib\site-packages (0.7)
Requirement already satisfied: setuptools>=38.6.0 in c:\python312\lib\site-packages (from ghostscript) (70.0.0)
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: Loading egg at c:\users\abhishek\appdata\roaming\python\python312\site-packages\ignorant-1.2-py3.12.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation. Discussion can be found at https://github.com/pypa/pip/issues/12330
DEPRECATION: Loading egg at c:\users\abhishek\appdata\roaming\python\python312\site-packages\toutatis-1.31-py3.12.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation. Discussion can be found at https://github.com/pypa/pip/issues/12330
WARNING: Ignoring invalid distribution ~ (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~~p (c:\Python312\Lib\site-packages)
DEPRECATION: Loading egg at c:\python312\lib\site-packages\ignorant-1.2-py3.12.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation. Discussion can be found at https://github.com/pypa/pip/issues/12330
DEPRECATION: Loading egg at c:\python312\lib\site-packages\toutatis-1.31-py3.12.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation. Discussion can be found at https://github.com/pypa/pip/issues/12330
WARNING: Ignoring invalid distribution ~ (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~~p (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~~p (c:\Python312\Lib\site-packages)

In [4]:
import camelot
tables = camelot.read_pdf("HYDRO2017.PDF", pages='10')
print(tables)

<TableList n=2>

C:\Users\Abhishek\AppData\Roaming\Python\Python312\site-packages\camelot\utils.py:740: UserWarning:   (512.26, 515.26) does not lie in column range (101.13961305925031, 511.5768802902056)
  warnings.warn(

In [8]:
tables.export("Table.csv", f='csv', compress=True)
tables[0].to_csv("Table1.csv")
tables[1].to_csv("Table2.csv")

In [9]:
import pandas as pd
df = pd.read_csv("Table2.csv")
df.head()

,Variables,Rainfall (mm),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Scenarios,RCP2.6,NaN,NaN,NaN,RCP4.5,NaN,NaN,NaN,RCP8.5,NaN,NaN,NaN
1,Test,Mann \nKendalls,NaN,Sen‘s Slope,NaN,Mann \nKendalls,NaN,Sen‘s Slope,NaN,Mann \nKendalls,NaN,Sen‘s Slope,NaN
2,Time \nSeries,Zcal,NaN,Trend Qmed,Trend,Zcal,Trend Qmed,NaN,Trend,Zcal,NaN,Trend Qmed,Trend
3,January,0.00,o,0.00,o,0.00,o,0.00,o,0.00,o,0.00,o
4,February,0.00,o,0.00,o,0.00,o,0.00,o,0.00,o,0.00,o